# Compiled source files
*.o
*.out
*.exe

# Build files
a.out
*.obj
*.dll
*.so
*.dylib

# Backup files
*.bak
*.tmp

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Ignore your data files if you don’t want them in GitHub
restaurant.txt
product.txt
rest.txt
